# 🔹 Web framework
Flask==2.3.3
Flask-Cors==4.0.0

# 🔹 ML / Data
numpy==1.24.4
pandas==2.0.3
scikit-learn==1.3.2
joblib==1.3.2

# 🔹 Database (safe version Windows)
psycopg2-binary==2.9.9

# 🔹 Utils
python-dotenv==1.0.1

# 🔹 Optional (si tu utilises)
gunicorn==21.2.0